<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="module1-solution/styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control"
             value="">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="lc();">Check If Too Much</button>
         </div>
         <div class="form-group message" ng-model="msg" id="msg">
           <!-- Your message can go here. -->
             {{msg}}
         </div>
   </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="module1-solution/app.js"></script>
</body>
</html>
